.row {
    margin-bottom: 15px;
  }
  .navbar-bgColor {
    background-color: #989898 !important;
}
.navbar-default .navbar-brand {
    color: black;
}
.navbar-nav li{
   background-color: white !important;
   border: 1px solid black;
}
section{
    padding: 5px 8px;
    background-color: #989898 ;
    margin: 5px 0px;
}